Repository AssemblyScript/assemblyscript, pull requests merged in 2020-04, with the labels that each got.

#1203 Implement Array#flat()
  std/assembly/array.ts
  std/assembly/index.d.ts
  tests/compiler/std/array.optimized.wat
  tests/compiler/std/array.ts
  tests/compiler/std/array.untouched.wat
Labels: std

#1206 Update to Unicode 13.0.0
  std/assembly/util/casemap.ts
  std/assembly/util/string.ts
  tests/compiler/std/string-casemapping.optimized.wat
  tests/compiler/std/string-casemapping.untouched.wat
Labels: breaking change, enhancement, std

#1199 Optimized for size Mathf.pow
  std/assembly/math.ts
  tests/compiler/binary.optimized.wat
  tests/compiler/binary.untouched.wat
  tests/compiler/std/libm.optimized.wat
  tests/compiler/std/libm.untouched.wat
  tests/compiler/std/math.optimized.wat
  tests/compiler/std/math.ts
  tests/compiler/std/math.untouched.wat
Labels: performance, std

#1220 Switch to initializer property
  src/ast.ts
  src/extra/ast.ts
  src/program.ts
Labels: breaking change

#1218 Decouple the parser from the program
  src/parser.ts
  src/program.ts
Labels: breaking change

#1233 Add a raw static memory mechanism
  lib/loader/tests/build/default.wasm
  lib/loader/tests/build/legacy.wasm
  lib/loader/tests/index.js
  src/builtins.ts
  src/compiler.ts
  src/diagnosticMessages.generated.ts
  src/diagnosticMessages.json
  std/assembly/index.d.ts
  std/assembly/math.ts
  std/assembly/memory.ts
  std/assembly/util/casemap.ts
  std/assembly/util/math.ts
  std/assembly/util/number.ts
  std/assembly/util/string.ts
  tests/compiler/binary.untouched.wat
  tests/compiler/mandelbrot.untouched.wat
  tests/compiler/memory.json
  tests/compiler/memory.optimized.wat
  tests/compiler/memory.ts
  tests/compiler/memory.untouched.wat
  tests/compiler/number.optimized.wat
  tests/compiler/number.untouched.wat
  tests/compiler/resolve-access.untouched.wat
  tests/compiler/resolve-binary.optimized.wat
  tests/compiler/resolve-binary.untouched.wat
  tests/compiler/resolve-elementaccess.optimized.wat
  tests/compiler/resolve-elementaccess.untouched.wat
  tests/compiler/resolve-function-expression.untouched.wat
  tests/compiler/resolve-propertyaccess.untouched.wat
  tests/compiler/resolve-ternary.optimized.wat
  tests/compiler/resolve-ternary.untouched.wat
  tests/compiler/resolve-unary.untouched.wat
  tests/compiler/std/array.optimized.wat
  tests/compiler/std/array.untouched.wat
  tests/compiler/std/libm.optimized.wat
  tests/compiler/std/libm.untouched.wat
  tests/compiler/std/math.optimized.wat
  tests/compiler/std/math.untouched.wat
  tests/compiler/std/operator-overloading.untouched.wat
  tests/compiler/std/string-casemapping.optimized.wat
  tests/compiler/std/string-casemapping.untouched.wat
  tests/compiler/std/string.optimized.wat
  tests/compiler/std/string.untouched.wat
  tests/compiler/std/typedarray.optimized.wat
  tests/compiler/std/typedarray.untouched.wat
  tests/compiler/wasi/seed.optimized.wat
  tests/compiler/wasi/seed.untouched.wat
  tests/compiler/wasi/trace.optimized.wat
  tests/compiler/wasi/trace.untouched.wat
Labels: breaking change
